body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Typography */
h1 {
    font-family: Baskerville, Times, 'Times New Roman', serif;
    font-size: 75px;
    color: #000000;
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
    margin: 0;
}

h2 {
    font-family: georgia, serif;
    font-size: 18px;
    font-style: italic;
    color: rgb(0, 0, 0);
    letter-spacing: 0;
    line-height: 1.429em;
    padding: 0;
    text-align: center;
}

h2 span {
    font-family: baskerville, 'palatino linotype', georgia, serif;
    font-size: 25px;
    font-weight: 100;

}

header img 
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

/* Content */
#content {
    margin: 50px 100px 100px 100px;
}

article{
    width: 100%;
}


/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-evenly;
}

footer li {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

/* Util */
.flexcontainer {
    display: flex;
}

.active {
    background-color: chocolate;
}