body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    min-width: 540px;
}

/* Typography */
h1 {
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px 0px 15px 0px;
    margin: 0;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}

h3{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}

p{
    text-align: justify;
  text-justify: auto;
}

header{
    width: 100%;
    min-height: 82px;
}

header img 
{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nav bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(212, 212, 212);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(150, 150, 150);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

/* Content */
#content {
    margin: 50px 100px 100px 100px;
}

article{
    width: 100%;
}


/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(212, 212, 212);
    color: black;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-evenly;
}

footer li {
    display: block;
    padding: 16px;
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

footer a:visited{
    color: black;
}

/* Util */
.flexcontainer {
    display: flex;
}

.active {
    background-color: chocolate;
}