/* Content */
#content {
    margin: 50px 100px 100px 100px;
    align-items: stretch;
}

/* Article - Page info */
article {
    flex-grow: 7;
    padding-right: 70px;
}

/* Main aside */
aside {
    flex-grow: 3;
}

#aside-elements {
    display: flex;
    flex-direction: column;
}

#aside-elements>* {
    background-size: cover;
    display: block;
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#aside-elements h3 {
    margin: 30px 30px 0px 30px;
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: rgba(73, 73, 73, 0.623);
    font-size: 80%;
}

#aside-1 {
    background-image: url("../static/img/sandwich.jpg");
}

#aside-2 {
    background-image: url("../static/img/Sandwichwaffle.jpg");
}

#aside-3 {
    background-image: url("../static/img/cafe.jpg");
}

#aside-4 {
    background-image: url("../static/img/ClassicWaffle.jpg");
}


@media screen and (max-width: 900px) {
    #content {
        flex-direction: column;
    }

    article {
        padding-right: 0;
    }

    #aside-elements {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #aside-elements>* {
        width: 150px;
        height: 100px;
        margin-bottom: 0;
        border-radius: 10px;
    }
}